
<div>
	<ul ><h3>Additional education courses and listened:</h3>
		<li><h5>Human Resources and Management. (Social Project at the Center student employment)</h5></li>
		<li><h5>Accounting and Reporting in the enterprise. (Basic course on private enterprise «YAM International»)</h5></li>
		<li><h5>Web Application Architecture, by Greg Heileman (The university of New Mexico) using internet resources www.coursera.org</h5></li>
		<li><h5>Self (programming language) with the help of Internet resources (video tutorial "screen-caste", etc.)</h5></li>
		<li><h5>Self (programming language) codecadamy</h5></li>
		<li><h5>Self (programming language) SmartMe</h5></li>
		<li><h5>Self (programming language) rubymonk</h5></li>
		<li><h5>Self (programming language) </h5></li>
	</ul>
</div>

