<div> 
		<ul><h3>Education:</h3>
			<li>
				<h4>1. Kyiv National Transport University, 2006-2010., In "Construction" bachelor engineer of the operational level of activity (Road Construction Department);</h4>
			</li>
			<li>
				<h4>2. Kyiv National Transport University, 2010-2011, majoring in "Building constructions, products and materials", qualification engineer (Road Construction Department, with honors)..</h4>
			</li>
			<li>
				<h4>3. Kyiv Polytechnic Institute, 2008-2010, Military Department, a reserve officer with the rank of Lieutenant.</h4>
			</li>
			<li>
				<h4>4. LITS 8) (Lviv It School, Best of the best)</h4>
			</li>
		</ul>
</div>

