<div> 
		<ul><h3>Education:</h3>
			<ul  type="disc">
			<li>
				<h4> LITS 8) Lviv It School, 2015 in Lviv, (The best course(education experience) that I ever have)</h4>
			</li>
			<li>
				<h4> Kyiv National Transport University, 2010-2011, majoring in "Building constructions, products and materials", qualification engineer (Road Construction Department, with honors)..</h4>
			</li>
			<li>
				<h4> Kyiv National Transport University, 2006-2010., In "Construction" bachelor engineer of the operational level of activity (Road Construction Department);</h4>
			</li>
			<li>
				<h4> Kyiv Polytechnic Institute, 2008-2010, Military Department, an officer of reserve, with the rank of Lieutenant</h4>
			</li>
			</ul>
		</ul>
</div>

