<div>
	<ul><h3>Experience:</h3>   
		<ul>
			<ul><h4>1. 2006 - present. - Repair and gathering of computer equipment (Freelance)</h4>
				<li><h5>В Setting water cooling;</h5></li>
				<li><h5>replacement operating system, installing the necessary software;</h5></li>
				<li><h5>Diagnosis and repair of desktops and laptops;</h5></li>
				<li><h5>order and replace defective parts;</h5></li>
				<li><h5>Gathering of computers from scratch;</h5></li>
				<li><h5>Help in choosing components;</h5></li>
			</ul>
		</ul>
		<ul>
			<ul ><h4>2. 2008 - present. - Private company with shipping - Deputy Director of the company.</h4>
				<li><h5>Meeting with present and potential customers;</h5></li>
				<li><h5>Cost Accounting services;</h5></li>
				<li><h5>bookkeeping;</h5></li>
				<li><h5>Logistics and search for new routes;</h5></li>
				<li><h5>Maintenance and repair machinery (tipper 8x8 and 6x6 base);</h5></li>
				<li><h5>Regular monitoring and analysis of pricing on fuel and inert materials;</h5></li>
				<li><h5>Finding new customers in the cold market;;</h5></li>
				<li><h5>Work with drivers (graphics, payroll, distribution of duties, etc.);</h5></li>
				<li><h5>Advertising services using Internet resources;</h5></li>
				<li><h5>Monthly and daily reporting;</h5></li>
				<li><h5>Work on the site of the company;</h5></li>
				<li><h5>Analysis of profit this month compared to last month and so on.</h5></li>
				<li><h5>driving license category "B" (4 years of experience, 270 thousand km)</h5></li>
			</ul>
		</ul>
		<ul>
			<ul ><h4>3. June - August 2010. - Laboratory of " Київ-Благоустрій”.</h4>
				<li><h5>Quality assurance made of asphalt pavement, road construction and materials used.</h5></li>
			</ul>
		</ul>
	</ul>
</div>