
<div>
	<ul><h3>My hobbies:</h3>
		<ul type="disc">
		<li><h4> new technologies, know-how in engineering and gadgets;</h4></li>
		<li><h4> alternative energy and engines, alternative free energy;</h4></li>
		<li><h4> Aikido, Jiu Jitsu, Yoga practice;</h4></li>
		<li><h4> Fitness and healthy living;</h4></li>
		<li><h4> Esotericism and spirituality as a science and practice;</h4></li>
		<li><h4> Construct personal web projects;</h4></li>
		<li><h4> like to dream :)</h4></li>
		</ul>
	</ul>
</div>
