
<div>
	<ul><h3>Objectives:</h3>
		<ul type="disc">
		<li><h4>Get a job that will develop, evolve and enhance my mind </h4></li>
		<li><h4>To participate and creat high-end devices or web app</h4></li>
		<li><h4>Create a strong family</h4></li>
		<li><h4>Travel the world </h4></li>
		<li><h4>To take Dan in Aikido and Gracie Jiu Jitsu</h4></li>
		<li><h4>Creating a continuous source of income</h4></li>
		<li><h4>Engage philanthropy (to teach and to coach people)</h4></li>
		</ul>
	</ul>
</div>

