

<ul><h3>Objectives:</h3>
	<li><h5>Create a strong family</h5></li>
	<li><h5>Get the job done for the development and activity of the brain</h5></li>
	<li><h5>Creating a continuous source of income</h5></li>
	<li><h5>Acquire Dan in Aikido and Gracie Jiu Jitsu</h5></li>
	<li><h5>Participate in the creation of their high-end devices</h5></li>
	<li><h5>Travel the world</h5></li>
	<li><h5>Engage philanthropy</h5></li>
</ul>