
<div>
	<ul><h3>Objectives:</h3>
		<ul type="disc">
		<li><h4>To find a software development position with the consentration in XX and YY and further opportunities to learn new technology </h4></li>
		<li><h4>To participate and creat high-end devices or web app</h4></li>
		<li><h4>Create a strong family</h4></li>
		<li><h4>Travel the World</h4></li>
		<li><h4>Attand Dan in Aikido and Gracie Jiu Jitsu classes</h4></li>
		<li><h4>To create a continuous and stable source of income</h4></li>
		<li><h4>Engage in philanthropy - to mentor people</h4></li>
		</ul>
	</ul>
</div>

