
<div>
	<ul><h3>Objectives:</h3>
		<li><h4>Create a strong family</h4></li>
		<li><h4>Get the job done for the development and activity of the brain</h4></li>
		<li><h4>Creating a continuous source of income</h4></li>
		<li><h4>Acquire Dan in Aikido and Gracie Jiu Jitsu</h4></li>
		<li><h4>Participate in the creation of their high-end devices</h4></li>
		<li><h4>Travel the world</h4></li>
		<li><h4>Engage philanthropy</h4></li>
	</ul>
</div>