   

<div>
	<ul><h3>Reason and motivation to get a new work:</h3>
		<ul type="disc">
		<li><h4> To use better the time of my life;</h4></li>
		<li><h4> To able to communicate with clever, smart and intelligent people who understand, who is a computer programmer, and that he does not repair the chair because it is a 'computer' chair. ..with people who feel and understand the history_objectivity of this epic joke;</h4></li>
		<li><h4> Competitive salary that can change my business-workplace to decent work;</h4></li>
		<li><h4> Atmosphere which has a schedule of work to be able to engage in a hobby;</h4></li>
		<li><h4> I hope that I will work in a great team;</h4></li>
		</ul>
	</ul>
</div>

