   

<div>
	<ul ><h3>Reason to get a new work:</h3>
		<li><h4> change of scope to realize my potential and intellectual ability;</h4></li>
		<li><h4> better use of my time;</h4></li>
		<li><h4> get a job that will help me develop intellectually;</h4></li>
		<li><h4> expand the range of my communication with intelligent and smart people.</h4></li>
	</ul>
</div>