   

<div>
	<ul><h3>Reason and motivation to get a new work:</h3>
		<ul type="disc">
		<li><h4> To better use the time of my life;</h4></li>
		<li><h4> To be able to communicate with experienced, smart and intelligent people who understand, that a computer programer does not repair the chair because it is a 'computer chair' - people who feel and understand the history_objectivity of this epic joke;</h4></li>
		<li><h4> To change business oriented workplace environment to IT/development side while maintaining a competitive salary;</h4></li>
		<li><h4> To find a position at a company with a good work-life(hobbie) balance;</h4></li>
		<li><h4> Work in a team of experienced professionals who can mantor me in New Technologies;</h4></li>
		</ul>
	</ul>
</div>

