
<div>
	<ul><h3>Software experiance:</h3>   
		<ul>
			<a href="http://geekometer.herokuapp.com/" target="_blank"><h4>GEEKOMETER</h4></a>
				<p><h5>The project of study course </h5></p>
				<p><a href="http://geekometer.herokuapp.com/" target="_blank"><h5>http://geekometer.herokuapp.com/</h5></a></p>
				<p><h5>You can log in with log:simple@user.com pass:12345678</h5></p>
				<p><h5> Project's goal - to pass test to ascertain your level of geekness. Throughout the course, we were assigned to work in the team to complete a major project that tested our entrepraneural, teambuilding and software development skills. Team leader's, Andrey Yainishin and Taras Kunchev, well experienced professionals in the field, have pushed us beyond the limits to complete the project in the most accurate and timely manner. They have transfered their "real life" experience and inspired us to learn more about the field.</h5></p>
		</ul>	
		<ul>
			<a href="https://project-neuron.herokuapp.com" target="_blank"><h4>Project Neuron</h4></a>
				<p><h5>The project of own create (in progress)</h5></p>
				<p><a href="https://project-neuron.herokuapp.com/suits/1" target="_blank"><h5>https://project-neuron.herokuapp.com</h5></a></p>
				<p><h5>You may signup and create your suit, or not log in and see another more</h5></p>
				<p><h5> Project's goal - "fine/perfectly suit helps to impress!!!". It is a Resume review, with good office where you can organize you life's affairs</h5></p>
		</ul>
	</ul>
</div>

