<div>
	<ul>
		<h4>
			Hello <br>
			I am looking for a workplace in Ruby on Rails developers team. <br> 
			I specify specialization that I have. I haven`t got commercial team work, and it is to hard to take freeelance order to big project with my start skills, but I have a light order's like "visit site" and small commertial chat&blog. So a I have good comprehension in Ruby on Rails framework, but haven't got strong knowledge in frontend or backend, because this skills takes in team and bigdata projects. Importance about me, means that I can with ease adapt to technologies and ready to team pace. Yes it can takes some conflicts with my experiance, but i like an empty vessel with good comprehension of team work, developing, and team can fill my experiance like they need. I can grow in freelance but I want team and grow in good companу. I want to get 500$ salary and I am ready to work out it. It`s only 3$\h for work in a company. All work must be paid. <br>
			Thank you for аttention. <br>
			Have a nice day!
		</h4>
	</ul>
</div>


<div>
	<ul class="skills" ><h3>Technologies I work with:</h3>
		<li class="skills"><h4>- Ruby</h4></li>
		<li class="skills"><h4>- Ruby on Rails</h4></li>
		<li class="skills"><h4>- Git</h4></li>
		<li class="skills"><h4>- SQL</h4></li>
		<li class="skills"><h4>- HTML</h4></li>
		<li class="skills"><h4>- CSS</h4></li>
		<li class="skills"><h4>- Javascript(basic)</h4></li>
		<li class="skills"><h4>- Bootstrap</h4></li>
		<li class="skills"><h4>- Haml</h4></li>
		<li class="skills"><h4>- Ubuntu\Linux</h4></li>

	</ul>
</div>

<div>
	<ul class="skills" ><h3>Interested in:</h3>
		<li class="skills"><h4>- Javascript (to pro level, with TypeScript)</h4></li>
		<li class="skills"><h4>- Jquery</h4></li>
		<li class="skills"><h4>- Json</h4></li>
		<li class="skills"><h4>- SVG</h4></li>   
		<li class="skills"><h4>- NodeJS</h4></li>
		<li class="skills"><h4>- MongoDB (to pro level)</h4></li>
		<li class="skills"><h4>- Postgresql\SQL\MySQL </h4></li>
		<li class="skills"><h4>- Python (with django)</h4></li>
		<li class="skills"><h4>- C\C++\C#(to pro level)</h4></li>
	</ul>
</div>

