
<div>
	<ul><h3>Software experiance:</h3>   
		<ul>
			<a href="http://geekometer.herokuapp.com/" target="_blank"><h4>GEEKOMETER</h4></a>
				<p><h5>The project of study course </h5></p>
				<p><a href="http://geekometer.herokuapp.com/" target="_blank"><h5>http://geekometer.herokuapp.com/</h5></a></p>
				<p><h5>You can log in with log:simple@user.com pass:12345678</h5></p>
				<p><h5>Projects aim - to pass tests to ascertain youre level of geekness. 
						It was a wonderful experience, we worked as a team, we have tried to work as a team, because it was a surprise for us, our team leader's Anrey Yasinishin and Taras Kunchev gave us a real project (they are not teachers, they are harsh commanders :D ) they tortured us as best they could )) 
						Each lesson began with a stand-up, and when the lesson was completed - we kept it online until late at night. Great atmosphere, training of "real-time" to create the project.</h5></p>
		</ul>	
	</ul>
</div>