<div>
	<ul class="skills" ><h3>My softvere developer skills:</h3>
		<li class="skills"><h4>- Ruby</h4></li>
		<li class="skills"><h4>- Ruby on Rails</h4></li>
		<li class="skills"><h4>- Git</h4></li>
		<li class="skills"><h4>- PostgreSQL</h4></li>
		<li class="skills"><h4>- HTML</h4></li>
		<li class="skills"><h4>- CSS</h4></li>
		<li class="skills"><h4>- Ubuntu\Linux</h4></li>
	</ul>
</div>