<div>
	<ul class="skills" ><h3>Technologies I work with:</h3>
		<li class="skills"><h4>- Ruby</h4></li>
		<li class="skills"><h4>- Ruby on Rails</h4></li>
		<li class="skills"><h4>- Git</h4></li>
		<li class="skills"><h4>- PostgreSQL</h4></li>
		<li class="skills"><h4>- HTML</h4></li>
		<li class="skills"><h4>- CSS</h4></li>
		<li class="skills"><h4>- Bootstrap</h4></li>
		<li class="skills"><h4>- Haml</h4></li>
		<li class="skills"><h4>- Ubuntu\Linux</h4></li>
	</ul>
</div>

<div>
	<ul class="skills" ><h3>Interested in:</h3>
		<li class="skills"><h4>- Javascript (to pro level)</h4></li>
		<li class="skills"><h4>- MongoDB (to pro level)</h4></li>
		<li class="skills"><h4>- Postgresql\SQL\MySQL </h4></li>
		<li class="skills"><h4>- Python (with django)</h4></li>
		<li class="skills"><h4>- C\C++\C#(to pro level)</h4></li>
	</ul>
</div>

